<footer>

     <div class="footer-flex-content">
          <div>
               <a href="/" >
               <div class="footer-heading">Mind Matters 2023</div>
               </a>
          </div>
          <div class="links-section">
               <!-- C-1 -->
               <div class="links-group">
                    <div class="links">
                         <div class="links">
                              <div class="title">Catch us on social media</div>
                              <ul>
                                   <li><a href="https://instagram.com/dpsbangaloresouth">@dpsbangaloresouth</a></li>
                                   <li><a href="https://instagram.com/dips_mindmatters23">@dips_mindmatters23</a></li>
                              </ul>
                         </div>
                    </div>
               </div>

               <div class="links-group">
                    <div class="links">
                         <div class="links">
                              <div class="title">Events</div>
                              <ul>
                                   {% for event in collections.event %}
                                        <li><a href="{{event.url}}">{{event.data.title}}</a></li>
                                   {% endfor %}
                              </ul>
                         </div>
                    </div>
               </div>

               <div class="links-group">
                    <div class="links">
                         <div class="links">
                              <div class="title">Links</div>
                              <ul>
                                   <li><a href="/pages/principals-message">Principals's Message</a></li>
                                   <li><a href="/pages/contact">Contact us</a></li>
                              </ul>
                         </div>
                    </div>
               </div>
          </div>
     </div>

     <div class="endnotes">
          Made by Sumukh Prasad
     </div>

</footer>