@import "colors"

.events
     margin-top: 100px

     h1
          padding: 10px
          font-size: 50px
          letter-spacing: -2px
          text-align: center
          font-family: 'Source Serif 4'
          font-weight: normal
          font-style: italic
          text-decoration: underline

     .event-banner
          width: calc( 100vw - 100px )
          height: calc( 50vh - 100px )
          text-decoration: none
          display: block
          padding: 50px
          background-color: $theme-light

          &:not(:last-of-type)
               border-bottom: 1px dashed $theme-dark
               

          .heading
               font-family: 'Source Serif 4'