@import "footer"
@import "header"
@import "headings"
@import "hero"
@import "pages"
@import "tables"
@import "blog"
@import "index"

@import "colors"

a
	color: $teal3
.bright
	color: $teal1

html, body 
	margin: 0
	padding: 0

body
	display: flex
	min-height: 100vh
	flex-direction: column

main
	font-family: 'Inter'
	flex: 1
	margin-top: calc(4em + 128px)
	padding: 30px
.no-padding
	padding: 0px !important
.under-navigation
	margin-top: 0px
.content
	padding: 25px

.widthlimited
	max-width: 1200px
	margin: auto

.link-external
	text-decoration: none
	color: inherit
	box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgb(0, 0, 0) 0px -1px 0px 0px inset
	&:hover
		box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, $theme-light 0px -10px 0px 0px inset

::selection
	color: $theme_dark
	background-color: $theme_light

@media (max-width: 720px) 
	main
		margin-top: calc(2em + 24px) !important