@import "colors"

.centered-heading
     text-align: center
     img
          position: absolute
          top: 50%
          transform: translateY(-50%)
          left: 0
          width: 100vw
          z-index: -1
          opacity: 0.1

.author
     font-family: 'IBM Plex Mono'
     font-style: italic
     margin-top: 25px
     margin-bottom: 50px
     color: $theme_dark

.principals-message
     display: grid
     grid-template-columns: auto auto
     column-gap: 25px
     .message-photo
          max-width: 300px
          img
               max-width: 100%
          .author
               margin: 0 !important

@media (max-width: 750px)
     .principals-message 
          display: block
          .message-photo
               margin-left: auto
               margin-right: auto
               margin-top: 25px
               max-width: 250px !important