---
layout: main-layout
eleventyImport:
  collections: ["event"]
---

{% setPageVar 'mainstyle' %}
no-padding
{% endsetPageVar %}

<div class="hero">
     <div class="hero-background" id="particles-js"></div>
     <div class="hero-foreground">
          <div class="hero-content">
               <div class="main-heading">
                    Mind Matters '23
               </div> 
               <div class="hero-copy">
                    Every year October is observed as the month to generate awareness on Mental Health and Wellbeing. The theme for 2023 set by the World Foundation of Mental Health is “ Mental Health is a universal human right”. To commemorate the same the Young Peer Educators of Delhi Public School Bangalore South in collaboration with Expressions India is hosting the Mind Matters Conclave 2023 on 6th and 7th October, 2023.<br>
                    <b>Register for the event <a href="https://entrar.in/cd273632523539f0110095199b821c3c/o nlineRegistrationConclave/3" class="bright" target="_blank" rel="noopener noreferrer">here</a>.</b>
                    <div id="ar-exp">Use Safari on iPhone or iPad to view an AR Experience</div>
                    <script>
                         function iOS() {
                              return [
                              'iPad Simulator',
                              'iPhone Simulator',
                              'iPod Simulator',
                              'iPad',
                              'iPhone',
                              'iPod'
                              ].includes(navigator.platform)
                              // iPad on iOS 13 detection
                              || (navigator.userAgent.includes("Mac") && "ontouchend" in document)
                         }

                         if (iOS()) {
                              var d=document.getElementById("ar-exp");
                              d.innerHTML = '<a rel="ar" href="/_media/ar/ar-exp.usdz"><img>View in AR ></a>';
                         }
                    </script>
               </div> 
          </div>
     </div>
</div>

<div class="events">
     <h1>Events</h1>
     {% for event in collections.event %}
          <a class="event-banner" href="{{event.url}}">
               <h1 class="event-heading">{{ event.data.title }}</h1>
          </a>
     {% endfor %}
</div>

<script src="https://cdn.jsdelivr.net/npm/p5@1.6.0/lib/p5.min.js"></script>


{% include 'particles-script' %}
